/* В этом файле вы импортируете все шрифты для сайта. Один из них вариативный и требует особенной настройки */
@font-face {
  font-family: 'Inter-Variable';
  src:
    local('Inter-Variable'),
    url(./Inter-Variable.woff2);
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PressStart-2P';
  src:
    local('PressStart-2P'), 
    url(./PressStart2P-Regular.woff);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}