/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font-family: 'Inter-Variable';
  --accent-font-family: 'PressStart-2P';
  --font-weight-regular: 400;
  --font-weight-bold: 785;
  --h1-font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --flexible-width: clamp(375px, 375px + (100vw - 375px) * 0.305, 700px);
  --header-paragraph-font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  --header-padding-inline: clamp(14px, 8.3%, 120px);
  --header-padding-block: clamp(120px, 34.7%, 128px);
  --bg-image: 
    repeating-linear-gradient(to right, #d3d3d3 0px 2px, transparent 2px 4px), 
    repeating-linear-gradient(to bottom, #d3d3d3 0px 2px, transparent 2px 4px), 
    repeating-linear-gradient(to bottom, #e7e7e7 0%, #1a1a1a 100%);
  --accent-color: #000;
  --main-color: #fff;
  --heart-color: #FF0000;
  --contour-color: #000;
}